<ion-view view-title="Cloud Forecast">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><b>Astronomy</b></div>
      <div class="item item-body">
        <div>
          <img src="../img/{{moonPhase}}.png"><b>{{moonPhase}}</b><br />
          <i class="icon ion-clock"></i>&nbsp;Local Time: <b>{{currentTimeH}}:{{currentTimeM}} PHT</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><b>Today</b></div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <i class="icon ion-android-alarm-clock"></i>&nbsp;<b>Sunrise:</b> 
          </div>
          <div class="col">
            <b>{{sunriseHour}}:{{sunriseMin}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon ion-planet"></i> <b>Sunset:</b>
          </div>
          <div class="col">
           <b>{{sunsetHour}}:{{sunsetMin}}</b>
          </div>
        </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
